/* =============
   CSS VARIABLES
   ============= */

/* !!! Warning: IE don't support CSS variables !!!
/* Replace them by hard-coded values if you want IE compatibility 
*/

html {
  /* Spacings: */
  --grid-xs: 0.125rem;
  --grid-sm: 0.25rem;
  --grid-1: 0.5rem; /* generally 8px */
  --grid-2: 1rem;
  --grid-3: 2rem;
  --grid-4: 4rem;
  --grid-5: 8rem;

  /* Colors: */
  --primary-500: #0065fc; /* corporate identity color: royal blue */
  --primary-100: #deebff; /* light royal blue, for backgrounds */

  --grey-100: #f2f2f2; /* light grey, for background */
  --grey-900: black; /* default "ink color" for text */

  /* Typography: */
  --primary-font: Raleway, Arial, san-serif;

  --txt-size: 1rem; /* generally 16px */
  --h6-size: 1.1rem; /* h1-6 sizes builded applying a factor 1.1 */
  --h5-size: 1.2rem;
  --h4-size: 1.3rem;
  --h3-size: 1.45rem;
  --h2-size: 1.6rem;
  --h1-size: 1.8rem;

  /* Breakpoints: */
  --sm: 375px; /* iPhone8 width */
}

/* ========
   RAW TAGS
   ======== */

html {
  color: var(--grey-900);
  font-family: var(--primary-font);
  font-size: var(--txt-size);
  font-weight: 400;
}

p {
  font-size: var(--txt-size);
}

h1 {
  font-size: var(--h1-size);
}
h2 {
  font-size: var(--h2-size);
}
h3 {
  font-size: var(--h3-size);
}
h1,
h2,
h3 {
  margin: var(--grid-2) 0;
}

a {
  color: var(--grey-900);
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;

  list-style: none;
}

/* ===============
   UTILITY CLASSES
   =============== */
.sr-only {
  position: absolute;
  clip: rect(0, 0, 0, 0);

  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;
}

/* ==============
   CARD COMPONENT
   ============== */

.card {
  margin: 0 var(--grid-3) var(--grid-3) 0;
  padding: var(--grid-1);
  border-radius: var(--grid-3);
  box-shadow: 0 var(--grid-xs) var(--grid-1) rgba(0, 0, 0, 0.1);
  overflow: hidden;

  background: white;

  transition: transform 250ms, box-shadow 300ms;
}
.card:hover {
  box-shadow: 0 var(--grid-sm) var(--grid-3) rgba(0, 0, 0, 0.1);

  transform: translateY(calc((-1) * var(--grid-sm)));
}

.card--left-sided-img a {
  display: flex;
}

.card__img {
  height: calc(1.1 * var(--grid-5));
  border-radius: var(--grid-3) var(--grid-3) 0 0;
  overflow: hidden;
}
.card--left-sided-img .card__img {
  flex: 2;

  height: calc(1.3 * var(--grid-5));
  border-radius: var(--grid-3) 0 0 var(--grid-3);
}
.card__img img {
  width: 100%;
  object-fit: cover;
}
.card--left-sided-img .card__img img {
  width: 100%;
  height: 100%;
}

.card__infos {
  position: relative;

  padding: var(--grid-2);
}
.card--left-sided-img .card__infos {
  flex: 3;
}

.card__title {
  margin: 0;
}

.card__text {
  margin-bottom: var(--grid-3);
}

.card__rating {
  position: absolute;
  bottom: 0;

  font-size: var(--h6-size);
}
.card__rating .fa-star {
  color: var(--primary-500);
}
.card__rating .fa-star.disabled {
  color: var(--grey-100);
}

/* ====
   PAGE
   ==== */

.page-wrapper {
  margin: var(--grid-1) var(--grid-4) 0 var(--grid-4);
}

/* ======
   HEADER
   ====== */

header {
  display: flex;
  justify-content: flex-end;

  font-size: var(--h6-size);
}

.logo {
  width: 100%;
}
.logo img {
  max-height: var(--grid-4);
}

.main-menu ul {
  display: flex;
}
.main-menu a {
  display: block;
  padding: var(--grid-3);
  border-top: var(--grid-xs) solid white;

  font-weight: 500;

  transition: color 300ms, border 200ms;
}
.main-menu a:hover {
  border-top: var(--grid-xs) solid var(--primary-500);

  color: var(--primary-500);
  opacity: 1;
}

header .login-btn {
  margin: var(--grid-3);

  font-weight: 700;
  color: var(--primary-500);

  transition: opacity 300ms;
}
header .login-btn:hover {
  opacity: 0.75;
}

/* ====
   MAIN
   ==== */

h2.standfirst {
  margin-top: 0;
  font-size: var(--h5-size);
  font-weight: 500;
}

/* -------------------
   Search bar fieldset
   ------------------- */
.search-bar {
  width: fit-content;
  margin: var(--grid-3) 0;
  padding: 0;
  border: 0;
  overflow: hidden;

  font-size: var(--h3-size);
}

.search-bar i,
.search-bar input,
.search-bar button {
  margin: 0;
  padding: var(--grid-2) calc(1.5 * var(--grid-2));
  border: 0;

  font-weight: 700;
}
.search-bar i {
  display: inline-block;

  border: var(--grid-xs) solid var(--grey-100);
  border-radius: var(--grid-2) 0 0 var(--grid-2);

  background: var(--grey-100);
}
.search-bar input {
  border: var(--grid-xs) solid var(--grey-100);
}
.search-bar button {
  border: var(--grid-xs) solid var(--primary-500);
  border-radius: 0 var(--grid-2) var(--grid-2) 0;

  color: white;

  background: var(--primary-500);

  transition: opacity 300ms;
}
.search-bar button:hover {
  opacity: 0.75;
}

/* ----------------
   Filters fieldset
   ---------------- */
.search-filters {
  display: flex;
  flex-wrap: wrap;

  margin: var(--grid-2) 0;
  padding: 0;
  border: 0;

  font-size: var(--h3-size);
  font-weight: 700;
}

.legend-box,
.filter {
  margin: var(--grid-3) var(--grid-4) var(--grid-3) 0;
}

.filter-label {
  position: relative;

  padding: var(--grid-2) calc(1.5 * var(--grid-2)) var(--grid-2) 74px;
  border: var(--grid-xs) solid var(--grey-100);
  border-radius: var(--grid-3);

  cursor: pointer;

  transition: border-color 200ms 30ms, background-color 200ms 30ms;
}
.filter-label__icon,
.filter-label__text {
  display: inline-block;
}
.filter-label__icon {
  position: absolute;
  top: calc((-1) * var(--grid-xs));
  left: calc((-3) * var(--grid-xs));

  width: 24px;
  height: 24px;
  padding: 20px;
  border-radius: 50%;

  color: var(--primary-500);
  text-align: center;

  background: var(--primary-100);

  transition: color 200ms 30ms, background-color 200ms;
}
.filter-label__text {
  transition: color 200ms;
}

.filter__checkbox:checked + .filter-label {
  border-color: var(--primary-500);

  background: var(--primary-100);
}
.filter__checkbox:checked + .filter-label .filter-label__icon {
  color: white;

  background: var(--primary-500);
}
.filter__checkbox:checked + .filter-label .filter-label__text {
  color: var(--primary-500);
}

/* ---------
   Info line
   --------- */
.info-hostings {
  margin: var(--grid-3) 0;
}
.info-hostings i {
  display: inline-block;

  width: var(--grid-2);
  height: var(--grid-2);
  margin-right: var(--grid-1);
  padding: var(--grid-sm);
  border: var(--grid-xs) solid var(--grey-100);
  border-radius: 50%;

  color: var(--primary-500);
  text-align: center;
}

/* --------
   Hostings
   -------- */
#hostings {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
#hostings section {
  padding: var(--grid-3);
  border-radius: var(--grid-2);

  background: var(--grey-100);
}
#hostings h2 {
  margin-bottom: var(--grid-3);
}

#hostings h3 {
  font-size: var(--h4-size);
}

.popular-hostings {
  flex: 4;

  margin-left: var(--grid-2);
}
.popular-hostings__header {
  display: flex;
  justify-content: space-between;
}
.popular-hostings__header i {
  margin: var(--grid-2) 0;
}

.popular-cards {
  display: flex;
  flex-wrap: wrap;
}

.town-hostings {
  flex: 8;

  margin-right: var(--grid-2);
}

.town-hostings__articles {
  display: flex;
  flex-wrap: wrap;
}
.town-hostings__articles .card {
  max-width: calc((100% - 4 * var(--grid-3)) / 3);
}
.town-hostings__articles .card:nth-child(3n) {
  margin-right: 0;
}
.town-hostings a.see-more {
  display: inline-block;

  margin: var(--grid-3) 0;

  font-size: var(--h3-size);
  font-weight: 700;
}

/* ----------
   Activities
   ---------- */
#activities {
  margin: var(--grid-4) 0 var(--grid-3) 0;
}

#activities h2 {
  margin-bottom: var(--grid-3);
}

#activities h3 {
  font-size: var(--h4-size);
}

.activities__articles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;

  height: calc(17 * var(--grid-3));
}

.activities__articles .card {
  width: calc((100% - 3 * var(--grid-3)) / 4);
  margin: 0;
  padding: 0;
}

.activities__articles .card__img {
  height: calc(100% - 4 * var(--grid-2));
}
.activities__articles .card__img img{
  height: 100%;
}

.activities__articles .card__title {
  padding: var(--grid-2) var(--grid-3);
}

.activities__articles .card:nth-child(1) {
  height: calc(17 * var(--grid-3));
}
.activities__articles .card:nth-child(2) {
  height: calc(10 * var(--grid-3));
  margin-bottom: var(--grid-3);
}
.activities__articles .card:nth-child(3) {
  height: calc(6 * var(--grid-3));
}
.activities__articles .card:nth-child(4) {
  height: calc(17 * var(--grid-3));
}
.activities__articles .card:nth-child(5) {
  height: calc(8 * var(--grid-3));
  margin-bottom: var(--grid-3);
}
.activities__articles .card:nth-child(6) {
  height: calc(8 * var(--grid-3));
}

/* ======
   FOOTER
   ====== */

footer h3 {
  font-size: var(--h4-size);
}
